[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyjwt = "*"
jsonschema = "*"
"jinja2" = "*"
"boto3" = "*"
cryptography = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
wheel = "*"

[requires]
python_version = "3.7"
