<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:url" content="https://{{ domain_name }}"/>
    <meta property="og:title" content="A community managed patch source for Jamf Pro administrators"/>
    <meta property="og:description" content="Browsed definitions submitted by community contributors, or become one and publish your own!"/>
    <meta property="og:site_name" content="Community Patch"/>
    <meta property=”og:image" content="https://{{ domain_name }}/images/favicon/310x310.png"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@brysontyrrell" />
    <meta name="twitter:title" content="A community managed patch source for Jamf Pro administrators" />
    <meta name="twitter:description" content="Browsed definitions submitted by community contributors, or become one and publish your own!" />
    <meta name="twitter:image" content="https://{{ domain_name }}/images/favicon/310x310.png" />

    <!-- jQuery, Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap 4 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.0.0/jq-3.2.1/dt-1.10.16/r-2.2.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.0.0/jq-3.2.1/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
    <script type="text/javascript" src="/css/dataTables.conditionalPaging.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/16x16.png">
    <link rel="manifest" href="../images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/favicon/144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>CommunityPatch.com</title>

    <style type="text/css">
        .table {
            width: 100% !important;
        }

        .table-responsive {
            display: table;
        }

        .dataTables_paginate{
            float: left;
        }

        .dataTables_wrapper {
            font-size: 12px;
        }
    </style>
  </head>
  <body>

    <div id="verify-alert" style="display:none; position: fixed; top: 0; left: 0; width: 100%;">
        <div style="padding: 5px;">
            <div id="verify-alert-inner" class="alert fade show" role="alert" style="margin: 0 auto;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 id="verify-alert-heading" class="alert-heading">Header</h4>
                <p id="verify-alert-body">Body</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
        <div class="modal-md modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Register for a CommunityPatch API Token</h4>
                </div>
                <form id="registerModalForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Display name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button class="btn btn-primary" id="registerModalSubmit" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="jumbotron" style="padding: 2rem; margin-bottom: 1.5rem; margin-top: 1rem;">
            <h1>Community Patch</h1>
            <p class="lead">This is a community managed patch source for Jamf Pro administrators. Read more about using this service and managing definitions at the official docs:</p>
            <div>
                <button class="btn-sm btn-dark" style="display:inline;" onclick="window.open('http://communitypatch.readthedocs.io', '_blank')">Read the docs <span class="fas fa-arrow-circle-right fa-sm"></span></button>
                <button class="btn-sm btn-dark" style="display:inline;" data-toggle="modal" data-target="#registerModal" title="Register">Register <span class="fas fa-user-plus fa-sm"></span></button>
            </div>
        </div>

        {% for contributor in contributors %}
            {% if contributor.title_count > 0 %}

            <!--<div class="row">-->
                <div>
                    <h4 style="display: inline;">{{ contributor.display_name }}</h4>
                    <p style="display: inline; font-size: 12px"><i>({{ contributor.id }})</i></p>
                </div>
            <!--</div>-->

            <div class="table-responsive">
                <table class="table table-striped" style="width: 100%; border-collapse: collapse !important;" id="table-{{ contributor.id }}">
                    <thead>
                        <tr>
                            <th>Patch ID</th>
                            <th></th>
                            <th>Name</th>
                            <th>Publisher</th>
                            <th>Current Version</th>
                            <th>Last Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div>
                <br>
            </div>

            {% endif %}
        {% endfor %}
    </div>

    <script type="text/javascript">
        function listSoftwareTitles(contributor_id, source_url) {
            $('#table-' + contributor_id).DataTable({
                "paging": true,
                "searching": true,
                "pageLength": 5,
                "dom": "<'row'<'col-sm-8 text-left'p><'col-sm-4'f>>" +
                       "<'row'<'col-sm-12't>>",
                "conditionalPaging": true,
                "bInfo": false,
                "language": {
                    "zeroRecords": "No Software Titles From This Contributor",
                    "search": "Filter:",
                },
                "order": [[ 5, "desc" ]],
                "ajax": {
                    "url": source_url + '?extend',
                    "dataSrc": "",
                    "cache": true
                },
                "columnDefs": [
                    { "targets": 0, "data": "id" },
                    {
                        "targets": 1,
                        "orderable": false,
                        "data": "id",
                        "render": function ( data, type, row, meta ) {
                            return '<button class="btn btn-light btn-sm" onclick="window.location.href=\'../jamf/v1/' + contributor_id + '/patch/' + data + '\'">' +
                                   '<span class="fas fa-eye fa-sm"></span></button>';
                        }
                    },
                    { "targets": 2, "orderable": false, "data": "name" },
                    { "targets": 3, "data": "publisher" },
                    { "targets": 4, "data": "currentVersion" },
                    { "targets": 5, "data": "lastModified" },
                    {
                        "targets": 6,
                        "orderable": false,
                        "data": "last_sync_result",
                        "render": function ( data, type, row, meta ) {
                            if (data !== null) {
                                if (Boolean(data)) {
                                    return '<span class="fas fa-sync-alt fa-sm" style="color: #00FF00;"></span>';
                                }
                                else {
                                    return '<span class="fas fa-sync-alt fa-sm" style="color: #FF0000;"></span>';
                                }
                            }
                            else {
                                return '';
                            }
                        }
                    }
                ]
            });

        }

        function ConvertFormToJSON(form){
            var array = jQuery(form).serializeArray();
            var json = {};

            jQuery.each(array, function() {
                json[this.name] = this.value || '';
            });

            return json;
        }

        var registerForm = $('#registerModalForm');

        registerForm.on('submit', function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            var jsonData = ConvertFormToJSON(registerForm);
            $("#registerModalSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: "../api/v1/contributors/register",
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                cache: false,
                success: function (data) {
                    console.log("SUCCESS: ", data);
                    location.reload();
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    console.log("ERROR MSG: ", e.responseText);
                    location.reload();
                }
            });
        });

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");

            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);

            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function() {
            var verifyStatus = getParameterByName('status');
            var alert_class = "";
            var alert_heading = "";
            var alert_body = "";

            if (verifyStatus == 'error') {
                alert_class = "danger";
                alert_heading = "Error during verification";
                alert_body = "An error was encountered during verification. Contact the developer.";
            }
            else if (verifyStatus == 'not-found') {
                alert_class = "danger";
                alert_heading = "ID not found";
                alert_body = "The ID provided during verification was not found. Check the URL provided in your registration email.";
            }
            else if (verifyStatus == 'invalid-code') {
                alert_class = "danger";
                alert_heading = "Invalid code";
                alert_body = "The code provided for verification is invalid. Check the URL provided in your registration email.";
            }
            else if (verifyStatus == 'missing-value') {
                alert_class = "warning";
                alert_heading = "Missing value";
                alert_body = "One or more required values were not provided during verification. Check the URL provided in your registration email.";
            }
            else if (verifyStatus == 'already-verified') {
                alert_class = "info";
                alert_heading = "Already verified";
                alert_body = "Your account has already been verified.";
            }
            else if (verifyStatus == 'success') {
                alert_class = "success";
                alert_heading = "Verification successful";
                alert_body = "You have successfully verified your account. Your API token will be emailed to you shortly.";
            }
            if (Boolean(alert_class)) {
                $('#verify-alert-inner').addClass("alert-" + alert_class)
                $('#verify-alert-heading').html(alert_heading);
                $('#verify-alert-body').html(alert_body);
                $('#verify-alert').show();
            }

            {% for contributor in contributors %}
                listSoftwareTitles('{{ contributor.id }}', '{{ contributor.url }}');
            {% endfor %}

        });
    </script>

  </body>
</html>
