<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/16x16.png">
    <link rel="manifest" href="../images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/favicon/144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>CommunityPatch.com</title>
  </head>
  <body>

    <div id="verify-alert" style="display:none; position: fixed; top: 0; left: 0; width: 100%;">
        <div style="padding: 5px;">
            <div id="verify-alert-inner" class="alert fade show" role="alert" style="margin: 0 auto;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 id="verify-alert-heading" class="alert-heading">Header</h4>
                <p id="verify-alert-body">Body</p>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="jumbotron" style="padding: 2rem; margin-bottom: 1.5rem; margin-top: 1rem;">
            <h1>Community Patch</h1>
            <p class="lead">This is a community managed patch source for Jamf Pro administrators. Read more about using this service and managing definitions at the official docs:</p>
            <a class="btn btn-success" href="http://communitypatch.readthedocs.io" target="_blank" role="button">Read the docs</a>
        </div>

        {% for contributor in contributors %}

        <div class="row">
            <div>
                <h3 style="display: inline;">{{ contributor.name }}</h3>
                <p style="display: inline;"><i>({{ contributor.id }})</i></p>
            </div>
        </div>

        <div class="row">
            <div style="overflow-x:auto;">
                <table class="table table-striped" style="width: 100%; border-collapse: collapse !important;" id="table-{{ contributor.id }}">
                    <thead>
                        <tr>
                            <th>Patch ID</th>
                            <th></th>
                            <th>Name</th>
                            <th>Publisher</th>
                            <th>Current Version</th>
                            <!--<th></th>-->
                            <th>Last Modified</th>
                            <!--<th></th>-->
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <p>Datatable URL: {{ contributor.url }}</p>
            </div>
        </div>

        {% endfor %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.js"></script>
    <script type="text/javascript">
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");

            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);

            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function() {
            var verifyStatus = getParameterByName('status');
            var alert_class = "";
            var alert_heading = "";
            var alert_body = "";

            if (verifyStatus == 'error') {
                alert_class = "danger";
                alert_heading = "Error during verification";
                alert_body = "An error was encountered during verification. Contact the developer.";
            }
            else if (verifyStatus == 'not-found') {
                alert_class = "danger";
                alert_heading = "ID not found";
                alert_body = "The ID provided during verification was not found. Check the URL provided in your registration email.";
            }
            else if (verifyStatus == 'invalid-code') {
                alert_class = "danger";
                alert_heading = "Invalid code";
                alert_body = "The code provided for verification is invalid. Check the URL provided in your registration email.";
            }
            else if (verifyStatus == 'missing-value') {
                alert_class = "warning";
                alert_heading = "Missing value";
                alert_body = "One or more required values were not provided during verification. Check the URL provided in your registration email.";
            }
            else if (verifyStatus == 'already-verified') {
                alert_class = "info";
                alert_heading = "Already verified";
                alert_body = "Your account has already been verified.";
            }
            else if (verifyStatus == 'success') {
                alert_class = "success";
                alert_heading = "Verification successful";
                alert_body = "You have successfully verified your account. Your API token will be emailed to you shortly.";
            }
            if (Boolean(alert_class)) {
                $('#verify-alert-inner').addClass("alert-" + alert_class)
                $('#verify-alert-heading').html(alert_heading);
                $('#verify-alert-body').html(alert_body);
                $('#verify-alert').show();
            }

        });
    </script>

  </body>
</html>
