<html>
    <head></head>
    <body>
      <h2>Your CommunityPatch API Token</h2>
      <p>Thank you for registering with CommunityPatch. This is your API access token for the service. You may now use the API to create and manage patch definitions under your given name.</p>
      <p><b>Display Name:</b> {{ message.display_name }}</p>
      <p><b>API Token:</b> <code>{{ message.api_token }}</code></p>
      <p>To learn more about using the API, visit the <a href='http://communitypatch.readthedocs.io'>docs!</a></p>
    </body>
</html>
